<footer class="py-5 bg-dark" style="padding-top: 1.2rem !important; padding-bottom: 1.6rem !important; line-height: 0.9;">
  <div class="container">
           <ul class="nav navbar-nav" style="display: inline">
                <li style="display: inline; "><a href="/">Home</a></li>
                <li style="display: inline; padding-left: 35px;"><a href="/login">Sign up</a></li>
                <li style="display: inline; padding-left: 35px;"><a href="/registration">Register</a></li>
                <li style="display: inline; padding-left: 35px;"><a href="/about">Leave Feedback</a></li>
                <li style="display: inline; padding-left: 35px;"><a href="/contact">Contact us</a></li>
                <li style="display: inline; padding-left: 35px;"><a href="/sale">About us</a></li>
                <li style="display: inline; padding-left: 35px;"><a href="/store_rules">Store Rules</a></li>
                <li style="display: inline; padding-left: 35px;"><a href="/privacy_policy">Privacy</a></li>
           </ul>
    <br>
    <p class="m-0 text-center text-white" style="padding-top: 25px;">Copyright &copy; Your Website 2017</p>
    <br>
    <div class="social-networks" style="padding-top: 1px;"><center>
        <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
        <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
        <a href="#" class="google"><i class="fa fa-google-plus"></i></a>
    </center></div>
  </div>
</footer>
