<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <div class="row col-md-12">
    <a class="navbar-brand" href="/"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive" >
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#"><i class="fa fa-newspaper-o" aria-hidden="true"></i>
            Subscribe
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="fa fa-search" aria-hidden="true" style="color:white"></i>
          Search</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/add_article"><i class="fa fa-plus" aria-hidden="true" style="color:white"></i>
          Add Article</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/register"><i class="fa fa-user-plus" aria-hidden="true" style="color:white"></i>
          Sign up</a>
        </li>
        <li class="nav-item">
        <span><a class="nav-link" id="sign_in" href="#"><i class="fa fa-sign-in" aria-hidden="true" style="color:white"></i>
          Sign in</a></span>
         </li>
      </ul>
    </div>
    <form role="form" name="register_form" action="" method="post">
      <input name=_csrf_token type=hidden value="{{ csrf_token() }}">
    <div class="row col-md-12" id="div_hidden" style="display: none">
        <div class="col-xs-6 col-sm-6 col-md-6">
            <div class="form-group">
                <input name="email" id="email" class="form-control input-sm" placeholder="Email" type="email">
            </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group">
                    <input name="email_ver" id="email_ver" class="form-control input-sm" placeholder="Confirm Email" type="email">
                </div>
            </div>
        <div class="col-xs-3 col-sm-3 col-md-3">
        <input value="Sign in" class="btn btn-info btn-block" type="submit" style="background-color: #007bff">
        </div>
     </div>
     </form>
    </div>
  </div>
</nav>
 <!-- Header with Background Image -->
<header  style="height:190px; background-color: #A9A9A9">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="display-3 text-center text-white mt-4" style="margin-left: 635px;">The PurrNews</h1>
          <br>
          {% include "includes/_navbar2.html" %}
      </div>
    </div>
  </div>
</header>

