<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Business Frontpage - Start Bootstrap Template</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/menu.css" rel="stylesheet">
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->
    <link rel="stylesheet" href=https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css>
    <!-- Custom styles for this template -->
    <link href="/static/css/business-frontpage.css" rel="stylesheet">
    <link href="/static/css/blog-post.css" rel="stylesheet">
    <link href="/static/css/blog-home.css" rel="stylesheet">


  </head>
  <body style="line-height: 1.6;">
    <!-- Navigation -->
    {% include "includes/_navbar.html" %}
    <!--nav -->

    <!-- Container-->
    {% block content %}
    {% endblock %}
    <!-- /.container -->

    <!-- Footer-->
    {% include "includes/_footer.html" %}
    <!--footer -->

  <!-- Bootstrap core JavaScript -->
    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script>
      $('#sign_in').on('click', function () {
          $('#div_hidden').toggle('');
      })
    </script>

  </body>

</html>
